<.join current_user={@current_user} />

<div id="video-group" style="position: absolute; top: 0;"></div>
<div id="game-container"></div>

<.bottom current_user={@current_user} />
<.chat current_user={@current_user} />